@media screen and (min-width: 320px){
    .pd-top {
        padding-top: 55px;
    }
    .new .container .info .title  {
        text-align: center!important;
    }
    .new .container .info .title h2 {
        font-size: 24px;
        padding-bottom: 22px;
        text-align: center;
        line-height: 18px;

    }
    .new .container .info .title p {
        font-size: 14px;
        line-height: 23px;
        font-weight: 300;
        text-align: center;
    }
    .new .container .info .owl-theme .owl-dots {
        display: none!important;
    }
    .new .container .info .owl-theme .owl-nav .owl-prev {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left:20px;
        text-align: center;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
    }
    .new .container .info .owl-theme .owl-nav .owl-prev:hover {
        background: none!important;
    }
    .new .container .info .owl-theme .owl-nav .owl-next:hover {
        background: none!important;
    }
    .new .container .info .owl-theme .owl-nav .owl-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right:20px;
        text-align: center;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
    }
    .new .container .info .new-product:hover .owl-nav .owl-prev {
        opacity: 1;
        visibility: visible;
    }
    .new .container .info .new-product:hover .owl-nav .owl-prev:focus{
        list-style: none;
        outline: none!important;
    }
    .new .container .info .new-product:hover .owl-nav .owl-next {
        opacity: 1;
        visibility: visible;
    }
    .new .container .info .owl-theme .owl-nav span {
        font-size: 50px;
        font-weight: 400;
        color: #222;
        transition:all 0.3s ease;
    }
    .new .container .info .owl-theme .owl-nav span:hover {
        color: #f34f3f;
    }
    .new .container .info .new-product {
        padding-top: 25px;
        position: relative;
    }
    .new .container .info .new-product .image {
        position: relative;
    }
    .new .container .info .new-product .image > span {
        top: 11px;
        left: 10px;
        font-size: 14px;
        height: 24px;
        line-height: 24px;
        padding: 0 14px;
        text-align: center;
        display: block;
        position: absolute;
        font-weight: 300;
        border-radius: 50px;
    }
    .new .container .info .new-product .image .soldout {
        color:#fff;
        background-color:#f34f3f;
    }
    .new .container .info .new-product .image .discount {
        color: #fff;
        background-color: #222;
    }
    .new .container .info .new-product .product {
        margin-top: 30px;
    }
    .new .container .info .new-product .image .icon {
        position: absolute;
        top: 8px;
        right: 8px;
        z-index: 9;
        transition: all 0.3s ease;
        opacity:0;
        visibility:hidden;
    }
    .new .container .info .new-product .product .image .countdown {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        transition: all 0.3s ease;
    }
    .new .container .info .new-product .product:hover .image .countdown  {
        transform: translateX(20px) translateY(-50%);
        opacity: 0;
        visibility: hidden;
    }
    .new .container .info .new-product .image .countdown .single-count {
        width: 50px;
        height: 50px;
        background-color: #ffffff;
        text-align: center;
        margin-top: 1px;
    }
    .new .container .info .new-product .image .countdown .single-count span.count {
        font-size: 15px;
        font-weight: 500;
        color: #323232;
        line-height: 16px;
    }
    .new .container .info .new-product .image .countdown .single-count p {
        font-size: 12px;
        color: #323232;
        line-height: 16px;
    }
    .new .container .info .new-product .product:hover .icon {
        opacity: 1;
        visibility: visible;
    }
    .new .container .info .new-product .image .icon ul li  {
        list-style-type: none;

    }
    .new .container .info .new-product .image .icon ul li a {
        width: 45px;
        text-align: center;
        font-size: 18px;
        display: inline-block;
        margin-bottom: 6px;
        background: #ffffff;
        height: 45px;
        line-height: 46px;
        border-radius: 50%;
    }
    .new .container .info .new-product .image .icon ul li a:hover {
        color: #f34f3f;
    }
    .new .container .info .new-product .product-content {
        padding-top: 22px;
        text-align: center;
    }
    .new .container .info .new-product .product-content .vote ul {
        display: flex;
        justify-content: center;
    }
    .new .container .info .new-product .product-content .vote ul li {
        font-size: 14px;
        margin: 0 2px;
    }
    .new .container .info .new-product .product-content .vote ul li i {
        font-weight: 400;
        color: #FF9800;
    }
    .new .container .info .new-product .product-content .name h4 {
        font-size: 18px;
    }
    .new .container .info .new-product .product-content .name h4 a {
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
        text-transform: capitalize;
        color: #222222;
        -webkit-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear;
        font-family: "Rubik", sans-serif;
    }
    .new .container .info .new-product .product-content .name h4 a:hover {
        color: #f34f3f;
    }
    .new .container .info .new-product .product-content .price .new {
        font-weight: 500;
        font-size: 15px;
        color: #f34f3f;
    }
    .new .container .info .new-product .product-content .price .old {
        text-decoration: line-through;
        font-weight: 400;
        font-size: 12px;
        margin-left: 5px;
        color: #666666;
    }
}
@media screen and (min-width: 768px) {
    .pd-top {
        padding-top: 90px;
    }
    .new .container {
        padding: 0;
    }
    .new .container .info .new-product .product {
        padding: 0 15px;
    }
    .new .container .info .title h2 {
        font-size: 40px;
        line-height: 48px;
        font-weight: 400;
        padding-bottom: 22px;
    }
    .new .container .info .title p {
        font-size: 16px;
        line-height: 23px;
        color: #222222;
        font-weight: 300;
        text-align: center;
        width: 520px;
        margin: auto;
    }
}
@media screen and (min-width: 1200px) {
    .new .container .info .title p {
        width: 600px;
    }
}