@media screen and (min-width: 320px) {
    .footer {
        background-color: #222;
    }
    .footer .container .footer-area {
        padding-top: 10px;
        padding-bottom: 60px;
    }
    .footer .container .footer-area .widget {
        margin-top: 50px;
        color: #fff;
    }
    .footer .container .footer-area .widget .logo-footer {
        margin-bottom: 30px;
    }
    .footer .container .footer-area .widget .social {
        margin-top: 23px;
    }
    .footer .container .footer-area .widget .social ul  {
        display: flex;
        align-items: center;
    }
    .footer .container .footer-area .widget .social ul li:not(:last-child) {
        margin-right: 10px;
    }
    .footer .container .footer-area .widget .social ul li a {
        width: 42px;
        height: 42px;
        line-height: 44px;
        display: block;
        text-align: center;
        font-size: 14px;
        background: #f2f2f2;
        color: #666666;
        border-radius: 50%;
        transition: all 0.3s ease;
    }
    .footer .container .footer-area .widget .social ul li a:hover {
        background-color: #f34f3f;
        color: #fff;
    }
    .footer .container .footer-area .widget h4.footer-title {
        font-size: 15px;
        line-height: 16px;
        margin-bottom: 7px;
        padding-bottom: 10px;
        text-transform: uppercase;
        font-weight: 500;
        position: relative;
        color: #ffffff;
        font-family: "Rubik", sans-serif;
    }
    .footer .container .footer-area .widget .footer-menu ul li a {
        display: block;
        font-weight: 400;
        font-size: 15px;
        line-height: 30px;
        color: #ffffff;
        -webkit-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear;
    }
    .footer .container .footer-area .widget .footer-menu ul li a:hover {
        color: #f34f3f;
    }
    .copy-right {
        background-color: #222;
        border-top: 1px solid rgba(51,51,51,0.4);
        padding-bottom:20px;
    }
    .copy-right .container .right-content {
        padding-top: 20px;
    }
    .copy-right .container .right-content p {
        text-transform: capitalize;
        line-height: 25px;
        font-size: 14px;
        color: #ffffff;
        font-weight: 300;
        text-align: center;
    }
    .copy-right .container .right-content p a {
        color: #f34f3f;
    }
    .copy-right .container .payment {
        padding-top:20px;
        text-align: center;
    }
}
@media screen and (min-width: 768px) {
    .footer .container .footer-area .small {
        display: grid;
        grid-template-columns: 50% 30%;
        justify-content: space-between;
        align-items: center;
    }
    .footer .container .footer-area .small-3 {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        justify-content: space-between;
        align-items: center;
    }
    .footer .container .footer-area {
        padding-top: 50px;
        padding-bottom: 100px;
    }
}
@media screen and (min-width: 1200px) {
    .footer .container .footer-area .small {
        display: grid;
        grid-template-columns: 50% 35%;
        justify-content: space-between;
        align-items: center;
    }
    .footer .container .footer-area .small-3 {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        justify-content: space-between;
        align-items: center;
    }
    .footer .container .footer-area {
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: space-between;
        align-items: center;
    }
    .copy-right .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}